@import url(font.css);

:root {
  --bg-color: #bcbcbc;
  --light-border-color: #ebebeb;
  --dark-border-color: #808080;
  --cell-size: 40px;
  --field-size: 400px;
  --border-size: clamp(2px, var(--cell-size) - 30px, 6px);
}

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: 'minecraft';
}

.container {
  margin: 0 auto;
  /* max-width: 400px; */
}

.title {
  text-align: center;
  padding: 30px 0;
  text-transform: uppercase;
  font-size: clamp(10px, var(--cell-size) - 10px, 32px);
  letter-spacing: 5px;
}

.field {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: var(--field-size);
  padding: 10px;
  background-color: var(--bg-color);
  border-left: 6px solid var(--light-border-color);
  border-top: 6px solid var(--light-border-color);
  border-right: 6px solid var(--dark-border-color);
  border-bottom: 6px solid var(--dark-border-color);
}

.field__button {
  width: var(--cell-size);
  height: var(--cell-size);
  font-size: clamp(6px, var(--cell-size) - 18px, 20px);
  font-family: 'minecraft';
  background-color: var(--bg-color);
  border-left: var(--border-size) solid var(--light-border-color);
  border-top: var(--border-size) solid var(--light-border-color);
  border-right: var(--border-size) solid var(--dark-border-color);
  border-bottom: var(--border-size) solid var(--dark-border-color);
  cursor: pointer;
}

.field__button_active {
  border: 2px solid var(--dark-border-color);
}

.bomb_active,
.bomb_inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  font-size: 0px;
}

.bomb_inactive {
  background-color: var(--bg-color);
}

.bomb_active::after,
.bomb_inactive::after {
  content: url(../assets/img/bomb.svg);
  width: clamp(6px, var(--cell-size) - 14px, 24px);
  height: clamp(6px, var(--cell-size) - 14px, 24px);
}

.flag_active {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0px;
}

.flag_active::after {
  content: url(../assets/img/flag.svg);
  width: clamp(6px, var(--cell-size) - 18px, 20px);
  height: clamp(6px, var(--cell-size) - 18px, 20px);
}

.field_easy {
  width: var(--field-size);
}

.field_middle {
  width: 600px;
}

.field_hard {
  width: 1000px;
}
