@import url(font.css);

:root {
  --text-color: #242424;
  --body-color: #fff;
  --bg-color: #c6c6c6;
  --light-border-color: #dfdfdf;
  --dark-border-color: #808080;
  --cell-size: 40px;
  --field-size: 400px;
  --border-size: clamp(2px, var(--cell-size) - 30px, 6px);
}

* {
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html {
  box-sizing: border-box;
  font-family: 'Pixel';
  background-color: var(--body-color);
  color: var(--text-color);
  transition: color 0.5s;
  transition: background-color 0.5s;
}

.header {
  padding: 20px 0;
}

.header__wrapper {
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
}

.level,
.theme,
.bomb,
.results {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: clamp(10px, var(--cell-size) - 4px, 24px);
}

.level__title,
.theme__title,
.bomb__title {
  margin-right: 10px;
}

.results__title {
  cursor: pointer;
}

.theme__btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bomb__current-count {
  margin-left: 10px;
}

.title {
  font-family: 'Minecraft';
  text-align: center;
  padding: 30px 0;
  text-transform: uppercase;
  font-size: clamp(10px, var(--cell-size) - 6px, 32px);
  letter-spacing: 5px;
}

.menu {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--field-size);
  padding: 10px;
  background-color: var(--bg-color);
  border-left: 6px solid var(--light-border-color);
  border-top: 6px solid var(--light-border-color);
  border-right: 6px solid var(--dark-border-color);
}

.menu__new-game-btn,
.results__button {
  height: 40px;
  width: 100%;
  max-width: 100px;
  font-family: 'Pixel';
  color: #242424;
  font-size: 11px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--bg-color);
  border-left: var(--border-size) solid var(--light-border-color);
  border-top: var(--border-size) solid var(--light-border-color);
  border-right: var(--border-size) solid var(--dark-border-color);
  border-bottom: var(--border-size) solid var(--dark-border-color);
}

.menu__new-game-btn:active,
.results__button:active {
  border: 2px solid #646464;
}

.results__button {
  margin: 10px 0;
}

.menu__time,
.menu__steps,
.menu__flags {
  font-family: 'Pixel';
  font-size: clamp(10px, var(--cell-size) - 10px, 22px);
  color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
}

.menu__flags::before {
  content: url(../assets/img/flag.svg);
  width: 28px;
  height: 28px;
}

.menu__steps::before {
  content: url(../assets/img/steps.svg);
  width: 34px;
  height: 30px;
}

.menu__time::before {
  content: url(../assets/img/timer.svg);
  width: 30px;
  height: 30px;
}

.field {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: var(--field-size);
  padding: 10px;
  background-color: var(--bg-color);
  border-left: 6px solid var(--light-border-color);
  border-right: 6px solid var(--dark-border-color);
  border-bottom: 6px solid var(--dark-border-color);
}

.field__button {
  width: var(--cell-size);
  height: var(--cell-size);
  font-size: clamp(6px, var(--cell-size) - 18px, 20px);
  font-family: 'Minecraft';
  background-color: var(--bg-color);
  border-left: var(--border-size) solid var(--light-border-color);
  border-top: var(--border-size) solid var(--light-border-color);
  border-right: var(--border-size) solid var(--dark-border-color);
  border-bottom: var(--border-size) solid var(--dark-border-color);
  cursor: pointer;
}

.field__button_active {
  border: 2px solid #646464;
}

.bomb_active,
.bomb_inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  font-size: 0px;
}

.bomb_inactive {
  background-color: var(--bg-color);
}

.bomb_active::after,
.bomb_inactive::after {
  content: url(../assets/img/bomb.svg);
  width: clamp(6px, var(--cell-size) - 14px, 24px);
  height: clamp(6px, var(--cell-size) - 14px, 24px);
}

.flag_active {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0px;
}

.flag_active::after {
  content: url(../assets/img/flag.svg);
  width: clamp(6px, var(--cell-size) - 18px, 20px);
  height: clamp(6px, var(--cell-size) - 18px, 20px);
}

.end-title {
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: clamp(10px, var(--cell-size) - 10px, 26px);
  padding: 20px 0;
  text-align: center;
  max-width: var(--field-size);
}

.results__table td,
.results__table th {
  border: 1px solid #6e6e6e;
  text-align: center;
}

.results__table {
  display: none;
  position: absolute;
  background-color: var(--bg-color);
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-collapse: collapse;
  border-spacing: 0;
  border-left: var(--border-size) solid var(--light-border-color);
  border-top: var(--border-size) solid var(--light-border-color);
  border-right: var(--border-size) solid var(--dark-border-color);
  border-bottom: var(--border-size) solid var(--dark-border-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: clamp(10px, var(--cell-size) - 10px, 24px);
}

.results__table th {
  padding: 5px 10px;
  color: #242424;
}
.results__table td {
  padding: 5px 0;
  color: #242424;
  font-weight: 500;
}

.dark-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(41, 41, 41, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.inactive {
  display: none;
}

.active {
  display: block;
}

@media (max-width: 936px) {
  .header__wrapper {
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
    padding: 0 14px;
  }
}
